In [ ]:
quick recap:
    installation--> environment setup:
        1. anaconda
        2. github
        3. Jupyter notebook overview

In [ ]:
Getting started with python programming:

In [ ]:
Understanding the variables in python

In [4]:
x=10
y=20
x+y

30

NameError: name 'x' is not defined

In [ ]:
Rules for declaring the variables in pyton:

In [ ]:
1. No Namespaces while declaring the variables name

In [5]:
first name = 'Majeed'
print(first name)

SyntaxError: invalid syntax (<ipython-input-5-ca0dca36d284>, line 1)

In [6]:
firstname = 'Majeed'
print(firstname)

Majeed

In [ ]:
2. A variable name should not start with a number **

In [7]:
9name = 'Mohammed'
print(9name)

SyntaxError: invalid syntax (<ipython-input-7-5cae4ab80a8c>, line 1)

In [8]:
name9 = 'Mohammed'
print(name9)

Mohammed

In [ ]:
3. A variable name should not contain any special characters in it.

In [ ]:
@&$%

In [ ]:
commenting the code in python:

In [ ]:
# ---> it is used for commenting the lines

In [ ]:
# for executing the cells --> shift+enter button

In [ ]:
Introduction to datatypes in python:

In [ ]:
1. string
2. numbers --> integers and float (decimals)
3. list
4. tuple
5. dictionaries

In [ ]:
classification of datatypes:
    Broadly data types are classified into two categories:
        1. mutable datatypes --> it is a flexible datatype -- which can be edited 
        2. immutable datatypes --> it is a fixed datatype -- which cannot be edited

In [ ]:
introduction to string datatype:

In [ ]:
definition: A string is a series of characters declared in quotes.
    classification: it is classified as a immutable datatype
        how to declare the string:
            1. single quote
            2. double quote
            3. triple quote

In [9]:
name = 'Mohammed'  #single quote
print(name)

Mohammed

In [10]:
name2 = "Majeed" #double quote
print(name2)

Majeed

In [11]:
name3 = """Mohammed Abdul Majeed""" #triple quote
print(name3)

Mohammed Abdul Majeed